<div class="row">
    <div class="col-md-5 mx-auto" style="margin-top:5%">
        <div class="card text-center">
            <div class="card-header">
            Create an Account or Login
            </div>
            <div class="card-body" style="padding:10px; padding-top:20px ">
                <a href="/users/register" class="btn btn-primary btn-lg btn-block">Register</a>
                <br>  
                <a href="users/login" class="btn btn-success btn-lg btn-block">Login</a>
            </div>
        </div>
    </div>
</div>